

<div class="row">
<%= simple_form_for @meetup do |f|%>
<fieldset>

  <%= f.input :meetup_date, :label => "Date" %>
  <%= f.input :meetup_time, :label => "Time" %>
  <%= f.input :category %>
  <%= f.input :neighborhood %>
  <%= f.input :location %>
  <%= f.input :description %>
  <%= f.button :submit %>

</fieldset>
<% end %>
</div>