

<div class="row">
  <fieldset>
<%= simple_form_for @meetup do |f|%>
  <%= f.error_notification %>



  <%= f.input :meetup_date, :as => :string, :required => true, :label => "Date", input_html: {class: 'datepicker'} %>
  <%= f.input :meetup_time, :as => :string, :required => true, :label => "Time", input_html: {class: 'datepicker'} %>
  <%= f.association :category, :required => true, :label => "I want to..." %>
  <%= f.association :neighborhood, :required => true %>
  <%= f.association :location, collection: [], :required => true%>
  <%= f.input :description, :required => true %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>

</fieldset>
<% end %>
</div>