<%= add_map_for(@markers) %>

      <div class="row">
        <div class="panel">
          <div class="fieldset">
            <h5>Filters:</h5>
        <%= search_form_for @q do |f| %>
          <%=f.label :neighborhood_name_eq, "Neighborhood: " %>
            <%=f.select :neighborhood_name_eq, 
              options_for_select(
                Neighborhood.all.collect {|n| [n.name, n.name]},
                selected: params[:q].try(:[],:neighborhood_name_eq)
              )
            %>
          <%=f.label :category_id_eq, "Category: " %>
          <%=f.select :category_id_eq,
            Category.all.collect {|c| [c.name, c.id]},
            {include_blank: true}
            %>
          <%=f.submit%>
        <% end %>
        </div>
      </div>
        <h4>Upcoming Meetups.</h4>
        <table>
          <thead>
            <tr>
              <th>Organizer</th>
              <th>Category</th>
              <th>Description</th>
              <th>Time</th>
              <th>Date</th>
              <th>Neighborhood</th>
            </tr>
          </thead>
          <% @meetups.each do |meetup| %>
          <tr>
            <td><%= meetup.username %></td>
            <td><%= meetup.cat_name %></td>
            <td><%= meetup.description %> </td>
            <td><%= meetup.time %></td>
            <td><%= meetup.date %></td>
            <td><%= meetup.hood %></td>
          </tr>
          <% end %>
        </table>


      </div>

