<%= gmaps(
  "map_options" =>{
    :detect_location => true , 
    :center_on_user => true ,
    :auto_zoom => false,
    :zoom => 18
    },
  "markers" => { 
    "data" => @markers, 
    "options" => {
      "do_clustering" => true, 
      "clusterer_maxZoom" => 16} 
    }
  ) 
%>


      <div class="row">
        <div class="panel">
          <div class="fieldset">
            <h5>Filters:</h5>
        <%= search_form_for @q do |f| %>
          <%=f.label :neighborhood_name_eq, "Neighborhood: " %>
          <% if params[:q].nil? %>
            <%=f.select :neighborhood_name_eq,
                options_for_select(Neighborhood.all.collect {|n| [n.name, n.name]}
              )
            %>
          <% else %>
            <%=f.select :neighborhood_name_eq, 
                options_for_select(Neighborhood.all.collect {|n| [n.name, n.name]},
                selected: params[:q][:neighborhood_name_eq]
              )
            %>
          <% end %>
          <%=f.label :category_id_eq, "Category: " %>
          <%=f.select :category_id_eq,
            Category.all.collect {|c| [c.name, c.id]},
            {include_blank: true}
            %>
          <%=f.submit%>
        <% end %>
      </div>
        </div>
        <table>
          <thead>
            <tr>
              <th> ID for testing </th>
              <th>Organizer</th>
              <th>Category</th>
              <th>Description</th>
              <th>Time</th>
              <th>Date</th>
              <th>Neighborhood</th>
            </tr>
          </thead>

          <% @meetups.each do |meetup| %>
          <tr>
            <td><%= meetup.id %></td>
            <td><%= meetup.username %></td>
            <td><%= meetup.cat_name %></td>
            <td><%= meetup.description %> </td>
            <td><%= meetup.time %></td>
            <td><%= meetup.date %></td>
            <td><%= meetup.hood %></td>
          </tr>
          <% end %>

        </table>


      </div>

