<div class="row">

  <div class ="large-6 columns">
    <div class="panel">
      <h3> Meet Deets </h3>
      <h3><%= @meetup.in_words %></h3>
      <h4><%= @meetup.description %></h4>
      <% if @meetup.participations.count == 0 %>
        <p>
          "Nobody has signed up yet. Why don't you get the ball rolling?"      
        </p>
      <% else %>
        <%= "#{pluralize(@meetup.participations.count, 'other')} are going." %>
      <% end %>
    <%= render 'sign_up_cancel' %>
    </div>
    <%= render 'participants' %>
  </div>
  <div class="large-4 columns" id="detail_map">
    <%= gmaps({
        "map_options" => { "auto_zoom" => false, "zoom"=>17},
        "markers"     => { "data" => @json }
      })
    %>
  </div>
</div>