<div class="profile_content">
  <div class="row" id="profiles">
    <div class="large-4 column" id="user_gravatar">
      <%= image_tag avatar_url(@user) %>
    </div>
    <div class="large-6 column" id="profile_inner">

      <h3><%= @user.user_name %></h3>
      <h4><%= "#{@user.first_name} #{@user.last_name}"%> </h4>
      <h5><%= "#{@user.tag_line}"%> </h5>
      <p> <%= @user.short_bio %> </p>
    </div>
  </div>
</div>
<div class="row">
<div class="user_stats">
  <div class="devise_form_div">
    <div class="large-3 column">
      <h5>Meetups Created</h6>
      <h3><%= "#{@user.meetups.count}" %></h3>
    </div>
    <div class="large-3 column">
      <h5>Meetups Attended</h5>
      <h3><%= "#{@user.past_attended.count}" %></h3>
    </div>
  </div>
</div>
<div class="panel" id="past_attended">
  <h4><%= "Meetups #{@user.user_name} attended:" %></h4>
    <% @user.past_attended.each do |n| %>
    <p><%= "#{n.in_words_past}" %></p>
    <%end%>
</div>
<div class="panel" id="meetups_hosted">
  <h4><%= "Meetups #{@user.user_name} hosted:"%></h4>
    <% @user.meetups.each do |m| %>
    <p><%= link_to "#{m.in_words}", meetup_path(m) %></p>
    <% end %>
</div>
</div>
