<div class="profile_content">
  <div class="row" id="profiles">
    <div class="large-4 column" id="user_gravatar">
      <%= image_tag avatar_url(@user) %>
    </div>
    <div class="large-6 column" id="profile_inner">

      <h3><%= @user.user_name %></h3>
      <h4><%= "#{@user.first_name} #{@user.last_name}"%> </h4>
      <h5><%= "#{@user.tag_line}"%> </h5>
      <p> <%= @user.short_bio %> </p>
    </div>
  </div>
</div>
<div class="user_stats">
  <div class="row">
    <h6><%= "Meetups Created: #{@user.meetups.count}" %></h6>
    <h6><%= "Meetups Attended: #{@user.participations.count}" %></h6>
  </div>
</div>
<div class="row" id="past_attended">
  <h4><%= "Meetups #{@user.user_name} attended:" %></h4>
    <% @user.past_attended.each do |n| %>
    <p><%= "#{n.in_words_past}" %></p>
    <%end%>
</div>
<div class="row" id="meetups_hosted">
  <h4><%= "Meetups #{@user.user_name} hosted:"%></h4>
    <% @user.meetups.each do |m| %>
    <p><%= "#{m.in_words}" %></p>
    <% end %>
</div>